* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

#root {
  width: 50%;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #272727;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

.label-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.label-title input {
  margin-right: 10px;
}

.details {
  margin-bottom: 1rem;
}

.details h3 {
  margin-bottom: 0.5rem;
}

.details p {
  padding: 4px 8px;
  background-color: #dacfff;
}

.updates {
  margin-bottom: 1rem;
}

.updates h3 {
  margin-bottom: 0.5rem;
}

.updates p {
  padding: 4px 8px;
  background-color: #dacfff;
}
